.container {
    display: flex;
}
#modal-comp {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal-detail-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}
.item-label {
    font-weight: 700;
    margin-right: 4px;
}
.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    width: 30rem;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0rem 0rem 1rem rgba(37, 38, 41, 0.12);
    padding: 4rem 3rem;
    padding-top: 1.4rem;
}
.dialog:focus {
    outline: none;
}

.show {
    display: block;
}
.hide {
    display: none;
}
.modal-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid
}
.modal-title {
    font-weight: 600;
    font-size: 20px;
}
.close {
    width: 1.5rem;
    height: 1.5rem;
}
.modal-btn {
    background: #DCFAFB;
    color: #8f8f8f;
    font-size: 20px;
    padding: 16px;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(37, 38, 41, 0.12);
    display: flex;
    justify-content: center;
}
.icon {
    width: 20px;
}
.clickable:hover {
    cursor: pointer;
}